{
  "openapi": "3.1.0",
  "info": {
    "title": "The Garden of the Forgotten Prompt: An Algorithmic Odyssey",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://adventure.wietsevenema.eu",
      "description": "Production server"
    }
  ],
  "paths": {
    "/game/look": {
      "get": {
        "summary": "Look",
        "description": "Get the player's current location.\n\nReturns the current room, including its description.",
        "operationId": "look",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Room"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/game/inventory": {
      "get": {
        "summary": "Inventory",
        "description": "Get the player's current inventory.",
        "operationId": "inventory",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/game/examine": {
      "post": {
        "summary": "Examine",
        "description": "Allows the player to get a detailed description of an item or exit.",
        "operationId": "examine",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExamineRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExamineResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/game/move": {
      "post": {
        "summary": "Move",
        "description": "Move the player to a new room.\n\nYou move by providing an exit name.\nReturns the new room the player has moved to.",
        "operationId": "move",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Room"
                    },
                    {
                      "$ref": "#/components/schemas/FinalRoomResponse"
                    }
                  ],
                  "title": "Response Move"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/game/take": {
      "post": {
        "summary": "Take",
        "description": "Take an item from the current room and add it to the player's inventory.",
        "operationId": "take",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TakeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TakeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/game/use": {
      "post": {
        "summary": "Use",
        "description": "Use a thing, or two things on each other.",
        "operationId": "use",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UseResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/game/drop": {
      "post": {
        "summary": "Drop",
        "description": "Drop an item from the player's inventory into the current room.",
        "operationId": "drop",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DropRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DropResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "DropRequest": {
        "properties": {
          "item_name": {
            "type": "string",
            "title": "Item Name",
            "description": "The name of the item to drop from the inventory."
          }
        },
        "type": "object",
        "required": [
          "item_name"
        ],
        "title": "DropRequest"
      },
      "DropResponse": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message",
            "description": "A message describing the result of the drop."
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "DropResponse"
      },
      "ExamineRequest": {
        "properties": {
          "target": {
            "type": "string",
            "title": "Target",
            "description": "The name of the item or exit to examine."
          }
        },
        "type": "object",
        "required": [
          "target"
        ],
        "title": "ExamineRequest"
      },
      "ExamineResponse": {
        "properties": {
          "description": {
            "type": "string",
            "title": "Description"
          }
        },
        "type": "object",
        "required": [
          "description"
        ],
        "title": "ExamineResponse"
      },
      "FinalRoomResponse": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message",
            "description": "A message congratulating the player on completing the level."
          },
          "score": {
            "type": "integer",
            "title": "Score",
            "description": "The player's final score for the level."
          }
        },
        "type": "object",
        "required": [
          "message",
          "score"
        ],
        "title": "FinalRoomResponse"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "InventoryResponse": {
        "properties": {
          "inventory": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Inventory",
            "description": "The player's inventory."
          }
        },
        "type": "object",
        "required": [
          "inventory"
        ],
        "title": "InventoryResponse"
      },
      "MoveRequest": {
        "properties": {
          "exit_name": {
            "type": "string",
            "title": "Exit Name",
            "description": "The name of the exit to use."
          }
        },
        "type": "object",
        "required": [
          "exit_name"
        ],
        "title": "MoveRequest"
      },
      "Room": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "description": {
            "type": "string",
            "title": "Description"
          }
        },
        "type": "object",
        "required": [
          "name",
          "description"
        ],
        "title": "Room"
      },
      "TakeRequest": {
        "properties": {
          "item_name": {
            "type": "string",
            "title": "Item Name",
            "description": "The name of the item to take from the current room."
          }
        },
        "type": "object",
        "required": [
          "item_name"
        ],
        "title": "TakeRequest"
      },
      "TakeResponse": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message",
            "description": "A message confirming the result of the take action."
          },
          "item": {
            "type": "string",
            "title": "Item",
            "description": "The name of the item that was taken."
          }
        },
        "type": "object",
        "required": [
          "message",
          "item"
        ],
        "title": "TakeResponse"
      },
      "UseRequest": {
        "properties": {
          "direct_object": {
            "type": "string",
            "title": "Direct Object",
            "description": "The name of the direct object. An object can be an item in your inventory, an item in the room, or an exit."
          },
          "indirect_object": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Indirect Object",
            "description": "The name of the indirect object. If provided, the game attempts to use `direct_object` and `indirect_object` on each other."
          }
        },
        "type": "object",
        "required": [
          "direct_object"
        ],
        "title": "UseRequest"
      },
      "UseResponse": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message",
            "description": "A message describing the result of the use action."
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "UseResponse"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "APIKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  }
}
